::placeholder{
    color: #ff8d70;
    font-style: italic;
}

body {
    background-color: #ffe2db;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

h3{
    text-align: center;
    color: #FB4314;
}

h2{
    color: #FB4314;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron {
    background-color: #FB4314;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.section1 {
    padding: 0.5rem 2rem 1rem 2rem;
    height: 170px;
}
.section2 {
    padding: 0.5rem 2rem 1rem 2rem;
    height: 250px;
}

.section:hover {
    background-color: #ffe2db;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

p{
    font-size: 20px;
    color: #000000;
    font-weight: 800;
    text-align: center;
    padding: 20px;
}

button, input[type="submit"] {
    float: left;
    margin: 5px;
    margin-left: 5px;
    width: 150px;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid #FB4314;
    border-radius: 0.5rem;
    font-size: 0.95rem;
    color: #FB4314;
    font-weight: 700;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}



input[type="number"]:hover {
    background-color: #f5f5f5;
    border: 2px solid #FB4314;
}

input[type="number"]:active{
    background-color: #f5f5f5;
    border: 2px solid #FB4314;
}
input[type="number"]:focus{
    background-color: #f5f5f5;
    border: 2px solid #FB4314;
}
input[type="number"] {
    line-height: 2.0;
    width: 25%;
    border: 2px solid #FB4314;
    float: left;
    margin-right: 20px;
    margin-top: 5px;
    margin-left: 30%;
    height: 34px;
    border-radius: 0.5rem;
}